nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.notif, .infos{
    display: block;
    border-radius: 50%;
    background-color: white;
    justify-content: center;
}
img{
    width: 10%;
}