.sidebar {
    position: fixed;
    width: 25%;
    height: 100vh;
    font-size: 0.65em;
  }
  
  .nav {
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 25%;
    transform: translateY(-50%);
    font-weight: bold;
  }
  
  .nav ul {
    list-style: none;
    
    li {
      position: relative;
      margin: 3.2em 0;
      width: 50%;
      font-size: 18px;
      border-radius: 50%;
      
      a {
        text-decoration: none;
      }
    }
  }
.icon{
    width: 10%;
}
