.bg{
  background-color: rgba(128, 128, 128, 0.267);
}
#image-container {
  transition: background-image 0.3s ease-in-out;
}
#image-container:hover {
  background-image: url('../../../assets/aperçu-bleu-menu-icon.png'); /* Chemin de la nouvelle image */
}
