<main class="main">
    <aside class="sidebar">
      <nav class="nav">
        <ul>
            <li>
                <a routerLink="" rel="noopener noreferrer">
                    <img class="logo" src="../../../assets/logo.png" alt="" srcset="">
                </a>
            </li>
          <li><a routerLink="/overview">
            <img class="icon" src="../../../assets/logo.png" alt="" srcset="">
            <span>Aperçu</span>
          </a></li>
          <li><a routerLink="/container//ventes">
            <img class="icon" src="../../../assets/aperçu-gris-menu-icon.png" alt="" srcset="">
            <span>Ventes</span>
          </a></li>
          <li><a routerLink="/container/analyses">
            <img class="icon" src="../../../assets/ventes-gris-menu-icon.png" alt="" srcset="">
            <span>Analyses</span>
          </a></li>
        </ul>
      </nav>
    </aside>
  </main>
  <router-outlet></router-outlet>
